* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #ffafbd, #ffc3a0); /* Fondo degradado */
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
}

.contenedor {
    text-align: center;
    position: relative;
}

.titulo h1 {
    margin-bottom: 40px;
}

.opciones {
    margin-bottom: 20px;
}

.opciones p {
    background: #333;
    display: inline-block;
    padding: 15px 25px;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
    position: relative;
}

p.p1 {
    margin-right: 20px; /* Espacio entre los botones */
}

p.p1:hover {
    background: #555;
    transform: scale(1.1);
}

p.p2:hover {
    background: #555;
    transform: scale(1.1);
}

#si {
    background: #ff0000; /* Color rojo */
    width: 100%;
    max-width: 550px;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    text-align: center;
    margin-top: 20px; /* Espacio superior para separación */
}

#si h2 {
    margin-bottom: 20px;
}

#si a {
    color: #fff;
    text-decoration: underline;
}
